@import './variables.scss';
@import './variables.scss';
@import './buttons.scss';

ul,
li,
a,
p,
h1,
h2,
h3,
h4,
div {
  margin: 0;
  padding: 0;
}

.App {
  text-align: left;

  &-body {
    background: $smoke;
    display: flex;
    padding: 17em 10em 10em 10em;
    min-height: 85vh;

    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-left: 13%;

      li {
        list-style: none;
        margin-right: 5em;
      }

    }

  }
}

.blur {
  filter: blur(10px)
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media all and (max-width: 699px) {
  .App-body {
    padding: 1em .1em .1em .1em;
  }
}