.button {
    border-radius: $radius;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: .3s;

    &:hover {
        margin-top: -2px;
        margin-bottom: 2px;
        box-shadow: $shadow;
    }

    &:active {
        margin-top: -1px;
        margin-bottom: 1px;
    }
}

.sm {
    width: 50px;
    height: 30px;
}

.md {
    width: 100px;
    height: 50px;
    font-size: 1.1em;
    font-weight: 900;
}

.lg {
    width: 150px;
    height: 75px;
    font-size: 1.3em;
    font-weight: 900;
}

.xl {
    width: 250px;
    height: 100px;
    font-size: 1.5em;
    font-weight: 500;
}

.primary {
    background: $barely-black;
    color: $white;

    &:hover {
        background: $primary;

    }
}

.primary__inv {
    background: $white;
    color: $primary;

}

.danger {
    background: $danger;
    color: $white;
}

.danger__inv {
    background: white;
    color: $danger;
    border: .3em solid $danger;
}

.warn {
    background: $white;
    color: $warn;
}

.warn__inv {
    background: $warn;
    color: $white;
}

.elevated {
    box-shadow: $shadow;
}

.buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}