@import './App.scss';

.footer {
    height: 10vh;
    box-shadow: -10px -10px 10px 10px rgba($barely-black, .1);
    &-contact {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;

        li {
            list-style: none;
        }
        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 35px;
                height: auto;
                margin-right: 1em;
            }
        }
    }
}