@import './App.scss';

.detail {
    width: 100%;
    &-header {
        display: flex;
        justify-content: space-around;
        &-text {
            width: 45%;
            display: flex;
            flex-direction: column;

            &-steps {
                margin-top: 1em;
                ul {
                    margin: 2em 0;
                }
                li {
                    list-style: none;
                    margin-bottom: 1em;
                    p {
                        line-height: 2em;
                        letter-spacing: 3px;

                    }
                }
            }
            &-subtitle {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 2em;
            }
        }
    }
    &-coffeemaker {
        position: relative;
        display: flex;
        max-height: 63vh;
        padding-top: 5em;
        &-image {
            background-color: $barely-black;
            border: .5em solid $grey;
            border-radius: 50%;
            width: 40em;
            height: 40em;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: $shadow;
            img {
                height: 50%;
                width: auto;
            }
        }
        &-coarseness {
            position: absolute;
            top: 0em;
            left: -2em;
            width: 17em;
            height: 17em;
            background-color: $barely-black;
            border: .5em solid $grey;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: $shadow;
            &-type {
                width: 12em;
                height: 12em;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    margin-right: -4em;
                    height: 10em;
                }
                padding: 3em;
                color: $smoke;
                p {
                    font-size: 1.2em;
                    background: $barely-black;
                    margin-right: -1.5em;
                    padding: .1em 1em;
                    border-radius: $radius;
                    width: 5em;
                }
            }
            .fine {
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAMElEQVQYV02MQRIAMAwB1/8frRPSTnMSFgEGJN45WhsYxiiwVBr5r+HqTn3VYDNxAEVmDQiTZv9NAAAAAElFTkSuQmCC) repeat;
            }
            .medium {
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAALElEQVQYV02LQQoAAAjC5v8fbRgJeRpTxUUFYPmEDQpX+g+3SQxWR0/uLZcBF7UHCkX4pF8AAAAASUVORK5CYII=) repeat;
            }
            .coarse {
                background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAPElEQVQYV11OyQ0AMAiC/Ye2kYqh5aPhUgIAAVRMcxyhejbSJI6Xe2CTxFTdsrW+4/gm55R4p7T/D2XyABq9EQVkURKDAAAAAElFTkSuQmCC) repeat;
            }
        }
    }
    &-temperature {
        position: absolute;
        top: 33em;
        right: -3em;
        background-color: $barely-black;
        border: .5em solid $grey;
        width: 17em;
        height: 17em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: $shadow;
        h3 {
            font-size: 3em;
            color: $white;
            font-weight: 100;
        }
    }
}

.cup-calculator {
    display: flex;
    p {
        display: flex;
        align-items: center;
        padding: 1em;
        background-color: $grey;
        border-radius: $radius;
    }
    img {
        width: 40px;
        margin: 0 .51em;
    }
}