@import './App.scss';

.grinds-list-item {
    position: relative;

    &-card {
        display: flex;
        flex-direction: column;
        width: 20em;
        background: $white;
        box-shadow: $shadow;
        padding: 3em;
        border-radius: $radius;
        margin-bottom: 1em;
        z-index: 5;

        &-header {

            h1,
            h2,
            h3 p {

                margin: 0;
            }
        }

        &-body {
            &-image {
                background: $barely-black;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 2em 4.3em;
                border-radius: 50%;
                border: $grey .5em solid;
                width: 15em;
                height: 15em;

                img {
                    width: auto;
                    height: 10em;
                }
            }
        }
    }
    &-edit {
        position: absolute;
        top: 5em;
        right: -1em;
        width: 2em;
        height: 14em;
        padding-left: 0.5em;
        border-radius: $radius $radius;
        background: $white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index: 0;
        border-left: 2px dashed $grey;
        transform: rotateY(90deg);
        transition: .4s;
        box-shadow: $shadow;
        &-item-image,
        &-item-image__view {
            height: 25px;
            width: 25px;
            margin-left: 0.5em;
            transition: .3s ease-in-out;
            &__view {
                height: 40px;
                width: 40px;
                margin-left: 0;
            }
            &:hover {
                transform: scale(1.2);
            }
        }

    }
    &:hover {
        .grinds-list-item-edit {
            transform: rotateY(0deg);
            right: -4em;
            width: 4em;
        }
    }
}