@import './App.scss';

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    z-index: 0;

}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba($black, .7);
    scroll-behavior: none;
    overflow: hidden;
    z-index: 4;

    &-content {
        background: $white;
        border-radius: $radius;
        width: 30em;
        z-index: 1;

        &-header {
            padding: 2em 5em 2em 5em;
            border-bottom: 1px solid $grey;
        }

        &-body {
            padding: 2em 5em 3em 5em;
            &-water-coffee-ratio {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
        }

        &-footer {
            padding: 2em 5em 2em 5em;
            border-top: 1px solid $grey;
            background: $grey;
        }
    }
}