@import './App.scss';

.App {
    
    &-navbar {
        background-color: $smoke;
        min-height: 10vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: $white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: $shadow;
        z-index: 2;
        &-logo {
            height: 40vmin;
            pointer-events: none;
            height: 75px;
            margin: 3em 0;
            margin-left: 3em;
        }

        &-add {
            width: 5em;
            height: 5em;
            border-radius: 50%;
            margin-right: 10em;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $white;
            &-image {
                width: 50px;
                height: 50px;
            }
        }

    }
}