// colors
$primary: #9FB8D5;
$danger: #cb5733;
$warn: #ffb936;
$success: #12e68e;
$white: #ffffff;
$smoke: #f2f2f2;
$grey: #e6e6e6;
$black: #111111;
$barely-black: #333333;

$radius: .3em;
$shadow: 10px 10px 10px 10px rgba(100, 100, 100, .1);